.body {
  max-width:600px;
  border: 1px solid darkkhaki;
  color: darkkhaki;
}

.body *{
  list-style: none;
}
.body .item-list {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 0 1rem;
  gap: 1rem;
}
.body .item-list li{
  width: 100%;
}

.body button:disabled {
  background-color: #999;
  color: #333;
  cursor: inherit;
}